# FastAPI Framework dan Server ASGI
fastapi
uvicorn

# Pydantic untuk validasi data
pydantic

# TensorFlow untuk model machine learning
tensorflow

# NumPy untuk operasi numerik
numpy

# Pandas untuk manipulasi data
pandas

# Scikit-learn untuk preprocessing dan evaluasi
scikit-learn

# Matplotlib untuk plotting
matplotlib

# Seaborn untuk visualisasi statistik
seaborn
